<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" >
    <title>Title</title>
</head>
<body>
<div class="container" style = "max-width: 700px; margin-top:30px;">
    <h2 class="page-header">新增书单</h2>
    <form action = "#" method = "post" th:action = "@{/books}" th:object = "${book}">
        <div class = "well">
            <input type = "hidden" th:value = "*{id}" name = "id">
            <div class="form-group">
                <label for="nameId">书名</label>
                <input type="text" name="name" id="nameId" class="form-control" th:field = "*{name}">
            </div>
            <div class="form-group">
                <label for="authorId">作者</label>
                <input type="text" name="author" id="authorId" class="form-control" th:field = "*{author}">
            </div>
            <div class="form-group">
                <label for="descriptionId">说明</label>
                <input type="text" name="description" id="descriptionId" class="form-control" th:field = "*{description}">
            </div>
            <div class="form-group">
                <label for="statusId">状态</label>
                <select  name="status" id="statusId" class="form-control">
                    <option value = "0" th:selected="(*{status} == '0')"> 想读</option>
                    <option value = "1" th:selected="(*{status} == '1')"> 在读</option>
                    <option value = "2" th:selected="(*{status} == '2')"> 已读</option>
                </select>
            </div>
            <p class="text-center">
                <button type="button" class="btn btn-default" onclick="history.go(-1)">返 回</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </p>
        </div>
    </form>


</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>